

:host {
  display: block;
}

:host(.selected){
  border: 2px solid black;
}

:host-context(.holiday-theme) p{
  color: hotpink;
}

// :host-context(.holiday-theme)  ::ng-deep p{
//   color: hotpink;
// }