<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <ng-content #titleRef select="card-title"></ng-content>            
        </h5>
        
        <ng-content #contentRef></ng-content>
        
    </div>
    <div class="card-footer">
        <ng-content select="card-footer"></ng-content>

    </div>
</div>