<!-- .row>.col*2 -->

<div class="row">
  <div class="col">

    <app-playlist-list 
    [items]="playlists | async" 
    [selectedId]="(selected | async)?.id" 
    (selectedIdChange)="selectPlaylistById($event)">
    </app-playlist-list>

    <hr>

    <button class="btn-info btn" (click)="createPlaylist()">
      Create New Playlist
    </button>
    
    <!-- <app-recent-searches></app-recent-searches> -->

  </div>
  <div class="col">

    <ng-container [ngSwitch]="mode" *ngIf="(selected | async) as playlist; else noPlaylistTpl">

      <app-playlist-details 
        *ngSwitchDefault 
        [playlist]="(playlist)" (delete)="deletePlaylist($event)"
        (edit)="edit()"></app-playlist-details>

        <app-playlist-form 
        *ngSwitchCase=" 'edit' " 
        [playlist]="(playlist)"
        (cancel)="cancel()" 
        (save)="save($event)">
      </app-playlist-form>

      <app-playlist-form 
        *ngSwitchCase=" 'create' " 
        [playlist]="(playlist)"
        (cancel)="cancel()" 
        (save)="save($event)">
      </app-playlist-form>

    </ng-container>
    <ng-template #noPlaylistTpl>Please select playlist</ng-template>
    

  </div>
</div>




<!-- <app-playlist-list [items]="playlists" 
[selectedId]="selectedId"
(selectedIdChange)="selectedId = ($event)"></app-playlist-list>

<app-playlist-list [items]="playlists" [(selectedId)]="selectedId"></app-playlist-list> -->
<!-- 
    
      {{}}
      []
      ()
      *
      #
     
      <ul>
        <ng-container>
          <li></li>
          <li></li>
        </ng-container>
        <li></li>
      </ul>
    -->
<!-- <div *appPlacki="malinowe polewa 'czekoladowa' dodatki [1,2,3]"></div> -->

<!-- <ng-template [ngIf]="mode === 'details'" [ngIfThen]="detailsRef" [ngIfElse]="formRef"></ng-template> -->

<!-- <div *ngIf="mode === 'details' then detailsRef else formRef"></div>


<div data-lubie="placki" *ngIf="mode === 'details'">
  <app-playlist-details></app-playlist-details>
  <button class="btn btn-info" (click)="edit()">Edit</button>
</div> -->

<!-- <ng-template #detailsRef>
  <div>
    <app-playlist-details></app-playlist-details>
    <button class="btn btn-info" (click)="edit()">Edit</button>
  </div>
</ng-template>

<ng-template #formRef>
  <div>
    <app-playlist-form></app-playlist-form>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    <button class="btn btn-success" (click)="save()">Save</button>
  </div>
</ng-template> -->