<br>

<div class="dropdown" appToggleContainer>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" appToggleTrigger
       aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" appToggleCollapsible>
        <a class="dropdown-item" >Action</a>
        <a class="dropdown-item" >Another action</a>
        <a class="dropdown-item" >Something else here</a>
    </div>
</div>

<br>
<br>
<br>

<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" appToggleTrigger
    aria-haspopup="true" aria-expanded="false"   #triggerRef="appToggleTrigger">
    Dropdown button
</button>
<div class="collapse" id="collapseExample" [appToggleCollapsible]="triggerRef">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
    </div>
</div>

<br>
<br>



{{tabsRef.selected}}

<app-tabs #tabsRef>
    <app-tab [title]=" 'Tab A' ">Tab A</app-tab>
    <app-tab title="Tab B">Tab B</app-tab>
    <app-tab title="Tab C">Tab C</app-tab>
</app-tabs>