<div class="dropdown" appToggleContainer>
    <button class="btn btn-secondary dropdown-toggle" type="button" appToggleTrigger>
        Recent Searches
    </button>
    <div class="dropdown-menu" appToggleCollapsible [noAutoClose]="true">
        <a class="dropdown-item" *ngFor="let query of queries" 
            (click)="search(query)">
            {{query}}
        </a>
    </div>
</div>