<!-- .row*2>.col -->
<div class="row">
    <div class="col">

        <app-search-form [query]="query | async" (search)="submitSearchQuery($event)"></app-search-form>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="alert alert-danger" *ngIf="message | async as message">{{message}}</p>


        <!-- <button (click)="open = !open">Show results</button> -->

        <!-- <ng-container *ngIf="open"> -->
        <ng-container *ngIf="results | async as albums">

            <p>Found {{ (albums)?.length }} results</p>

            <app-albums-grid [albums]="albums"></app-albums-grid>
        </ng-container>
        <!-- </ng-container> -->

    </div>
</div>