/* You can add global styles to this file, and also import other style files */

// angular.json => architect => option => styles "node_modules/bootstrap/dist/css/bootstrap.css"

// npm i bootstrap
@import '~bootstrap/dist/css/bootstrap.css';

// p {
//   font-size:23px
// }

// $white: #ddd;
// $primary: #3f51b5;
// $blue: #3f51b5;

// $enable-rounded: false;
// $enable-shadows: true;

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";

// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";

// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";

// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";

// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";

// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/utilities";