<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" aria-expanded="true"
                aria-controls="collapseOne" (click)="toggle()">

                <span> {{title}} </span>
                
                <i class="bi float-right" [ngClass]="{
                    'bi-chevron-down':!open,   
                    'bi-chevron-up':open
                }"></i>
            </button>
        </h2>
    </div>

    <div id="collapseOne" class="collapse" [class.show]="open" aria-labelledby="headingOne">
        <div class="card-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>