:host {
  display: block;
}


.ng-submitted input.ng-invalid,
input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty{
  border: 1px solid red;
}

.ng-submitted input.ng-valid,
input.ng-valid.ng-touched,
input.ng-valid.ng-dirty{
  border: 1px solid green;
}