<form [formGroup]="searchForm" #formRef="ngForm" [class.ng-submitted]="formRef.submitted">


    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" formControlName="query"  (keyup.enter)="submitSearch()">

        <!-- -->
        <div class="input-group-append"> 
            <button class="btn btn-outline-secondary"
            type="submit" (click)="submitSearch()">Search</button>
        </div>
    </div>

    <ng-container *ngIf="searchForm.get('query') as field">
        <ng-container *ngIf="field.touched || field.dirty || formRef.submitted">
            <p *ngIf="field.hasError('required')">Query is required</p>
            <p *ngIf="field.getError('minlength') as error ">
                Minimum {{ error.requiredLength }} characters
            </p>
            <p *ngIf="field.getError('censor') as error">
                Cannot contain {{error.badword}}
            </p>
        </ng-container>
        <p *ngIf="field.pending">Validating...</p>
    </ng-container>


    <div formGroupName="options">
        <p (click)="advancedOpen =! advancedOpen" class="float-right">Advanced search</p>
        <ng-container *ngIf="advancedOpen">

            <div class="form-group mb-3">
                <select formControlName="type" class="form-control">
                    <option value="album">Album</option>
                    <option value="artist">Artist</option>
                </select>
            </div>

            <!-- .list-group>.list-group-item>. input-group-sm>input.form-control+span.close{&times;} -->

            <div class="list-group" formArrayName="markets">
                <!-- [formGroup]="market"  -->

                <div class="list-group-item" [formGroupName]="i" *ngFor="let market of markets.controls; index as i">

                    <div class="input-group-sm position-relative">
                        <span class="close remove" (click)="removeMarket(i)">&times;</span>
                        <input type="text" class="form-control" formControlName="code">
                    </div>
                </div>
                <!-- .list-group-item>button.btn.btn-info.float-right>i.bi.bi-plus -->
                <div class="list-group-item">
                    <button class="btn btn-sm btn-info float-right" (click)="addMarket()">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>
        </ng-container>



    </div>

</form>

<style>
    .remove {
        position: absolute;
        right: 10px;
        top: 2px;
    }
</style>